# Ignore node_modules and dist directories
node_modules
dist

# Ignore logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Ignore environment variables
.env
example.env

# Ignore IDE and editor settings
.idea
.vscode
*.sublime-workspace

# Ignore OS-specific files
.DS_Store

# Ignore test coverage and output
coverage
.nyc_output

# Ignore build artifacts
*.tsbuildinfo
